# Data Exploration #

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [14]:
turbines_oct = pd.read_csv('_datasets/uswtdb_v5_2_20221012.csv', encoding = "ISO-8859-1")

In [16]:
turbines_oct.head()

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/18,Digital Globe,-118.363762,35.077908
1,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/18,Digital Globe,-118.364410,35.077435
2,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/18,Digital Globe,-118.364197,35.077644
3,3063272,19-028134,2014-WTE-4084-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,4/24/17,Digital Globe,-93.430367,42.028233
4,3053390,19-028015,2015-WTE-6386-OE,NaN,NaN,IA,Boone County,19015,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,6/1/17,Digital Globe,-93.700424,41.977608

In [17]:
turbines_oct.shape

(72357, 27)

In [25]:
turbines_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72357 entries, 0 to 72356
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   case_id        72357 non-null  int64
 1   faa_ors        67155 non-null  object
 2   faa_asn        67146 non-null  object
 3   usgs_pr_id     38029 non-null  float64
 4   eia_id         67250 non-null  float64
 5   t_state        72357 non-null  object
 6   t_county       72357 non-null  object
 7   t_fips         72357 non-null  int64
 8   p_name         72357 non-null  object
 9   p_year         71790 non-null  float64
 10  p_tnum         72357 non-null  int64
 11  p_cap          69270 non-null  float64
 12  t_manu         68111 non-null  object
 13  t_model        67974 non-null  object
 14  t_cap          68282 non-null  float64
 15  t_hh           67785 non-null  float64
 16  t_rd           67844 non-null  float64
 17  t_rsa          67844 non-null  float64
 18  t_ttlh         67785 non-null  float64
 19  retrofit       72357 non-null  int64
 20  retrofit_year  6711 non-null   float64
 21  t_conf_atr     72357 non-null  int64
 22  t_conf_loc     72357 non-null  int64
 23  t_img_date     64375 non-null  object
 24  t_img_srce     72357 non-null  object
 25  xlong          72357 non-null  float64
 26  ylat           72357 non-null  float64
dtypes: float64(12), int64(6), object(9)
memory usage: 14.9+ MB

In [26]:
turbines_oct.isnull().sum().sort_values(ascending = False)

retrofit_year    65646
usgs_pr_id       34328
t_img_date        7982
faa_asn           5211
faa_ors           5202
eia_id            5107
t_ttlh            4572
t_hh              4572
t_rsa             4513
t_rd              4513
t_model           4383
t_manu            4246
t_cap             4075
p_cap             3087
p_year             567
t_conf_atr           0
t_conf_loc           0
t_img_srce           0
xlong                0
case_id              0
retrofit             0
p_tnum               0
p_name               0
t_fips               0
t_county             0
t_state              0
ylat                 0
dtype: int64

In [34]:
turbines_oct['t_conf_atr'].value_counts().sort_values(ascending = False)

3    62615
1     5738
2     4004
Name: t_conf_atr, dtype: int64

In [43]:
turbines_oct['retrofit'].value_counts()

0    65646
1     6711
Name: retrofit, dtype: int64

In [50]:
turbines_oct['eia_id'].max()

65525.0

In [53]:
turbines_oct[turbines_oct['eia_id'] == 90]

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
42697,3032512,02-020067,2009-WTW-1519-OE,1899.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.427475,64.571701
42698,3032511,02-020066,2009-WTW-1518-OE,1898.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.427277,64.571198
42699,3032515,02-020071,2009-WTW-1523-OE,1892.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.427277,64.568398
42700,3032502,02-020055,2009-WTW-1508-OE,1886.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.433380,64.563202
42701,3032500,02-020053,2009-WTW-1506-OE,1884.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.431473,64.562302
42702,3032509,02-020062,2009-WTW-1515-OE,1894.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.427475,64.569099
42703,3032510,02-020065,2009-WTW-1517-OE,1896.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.427673,64.570503
42704,3032504,02-020057,2009-WTW-1510-OE,1889.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.433680,64.565158
42705,3032508,02-020061,2009-WTW-1514-OE,1891.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.428680,64.567902
42706,3032503,02-020056,2009-WTW-1509-OE,1888.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.434612,64.564167
42707,3032501,02-020054,2009-WTW-1507-OE,1885.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.432808,64.562350
42708,3032506,02-020059,2009-WTW-1512-OE,1893.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.428772,64.568703
42709,3032514,02-020069,2009-WTW-1521-OE,1901.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.425278,64.572205
42710,3032505,02-020058,2009-WTW-1511-OE,1887.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.434866,64.563367
42711,3032513,02-020068,2009-WTW-1520-OE,1900.0,90.0,AK,Nome Census Area,2180,Nome,2008.0,...,176.71,38.6,0,NaN,3,3,9/30/19,Digital Globe,-165.426483,64.571999
42712,3045493,02-020341,2012-WTW-9327-OE,47936.0,90.0,AK,Nome Census Area,2180,Nome Newton Peak,2013.0,...,2290.22,77.1,0,NaN,3,3,9/30/19,Digital Globe,-165.426452,64.570301
42713,3045494,02-020340,2012-WTW-9328-OE,47935.0,90.0,AK,Nome Census Area,2180,Nome Newton Peak,2013.0,...,2290.22,77.1,0,NaN,3,3,9/30/19,Digital Globe,-165.431274,64.566704

In [54]:
operators = pd.read_csv('_datasets/eia8602021/3_2_Wind_Y2021_operable.csv')

In [57]:
operators.head()

,Utility ID,Utility Name,Plant Code,Plant Name,State,County,Generator ID,Status,Technology,Prime Mover,...,Summer Capacity (MW),Winter Capacity (MW),Operating Month,Operating Year,Number of Turbines,Predominant Turbine Manufacturer,Predominant Turbine Model Number,Design Wind Speed (mph),Wind Quality Class,Turbine Hub Height (Feet)
0,63560,"TDX Sand Point Generating, LLC",1,Sand Point,AK,Aleutians East,WT1,OS,Onshore Wind Turbine,WT,...,0.1,0.1,10,2011,1,Vestas,V39-500,19.0,2,155.0
1,63560,"TDX Sand Point Generating, LLC",1,Sand Point,AK,Aleutians East,WT2,OA,Onshore Wind Turbine,WT,...,0.3,0.3,10,2011,1,Vestas,V39-500,19.0,2,155.0
2,13642,Nome Joint Utility Systems,90,Snake River,AK,Nome,EWT 1,OP,Onshore Wind Turbine,WT,...,0.9,0.9,7,2013,1,EWT,DW54-900,20.0,2,164.0
3,13642,Nome Joint Utility Systems,90,Snake River,AK,Nome,EWT 2,OP,Onshore Wind Turbine,WT,...,0.9,0.9,7,2013,1,EWT,DW54-900,20.0,2,164.0
4,10633,City of Lamar - (CO),508,Lamar Plant,CO,Prowers,T1-T3,OP,Onshore Wind Turbine,WT,...,4.0,4.0,2,2004,3,GE,1.5 XLE,19.0,2,262.4

In [77]:
operators_2022 = pd.read_csv('_datasets/_a/EIA923_2022_a.csv')
operators_2021 = pd.read_csv('_datasets/_a/EIA923_2021_a.csv')
operators_2020 = pd.read_csv('_datasets/_a/EIA923_2020_a.csv')
operators_2019 = pd.read_csv('_datasets/_a/EIA923_2019_a.csv')
operators_2018 = pd.read_csv('_datasets/_a/EIA923_2018_a.csv')
operators_2017 = pd.read_csv('_datasets/_a/EIA923_2017_a.csv')

In [78]:
operators_2022

,Plant Id,Plant Name,Operator Name,Operator Id,Reported\nPrime Mover,Net Generation,YEAR
0,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"542,410,529",2022
1,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"350,800,208",2022
2,57098,Dry Lake Wind LLC,Avangrid Renewables LLC,15399,WT,"79,724",2022
3,58155,Perrin Ranch Wind LLC,Perrin Ranch Wind LLC,58132,WT,"145,841",2022
4,58833,Red Horse 2,Red Horse 2,59146,WT,"45,829",2022
...,...,...,...,...,...,...,...
606,63916,Cedar Springs III,"Cedar Springs Wind III, LLC",63582,WT,"374,888",2022
607,56752,Mountain Wind Power LLC,Mountain Wind Power LLC,64651,WT,"143,604",2022
608,56753,Mountain Wind Power II LLC,Mountain Wind Power II LLC,64652,WT,"95,739",2022
609,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"157,282,904",2022
610,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"577,882,047",2022

In [79]:
operators_yoy = [operators_2017,
                 operators_2018,
                 operators_2019,
                 operators_2020,
                 operators_2021,
                 operators_2022]

In [80]:
operators_yoy_df = pd.concat(operators_yoy)

In [82]:
operators_yoy_df['YEAR'].value_counts()

2021    1280
2020    1243
2019    1161
2018    1117
2017    1056
2022     611
.          4
Name: YEAR, dtype: int64

In [86]:
blank_years = operators_yoy_df[operators_yoy_df['YEAR'] == '.']
blank_years

,Plant Id,Plant Name,Operator Name,Operator Id,Reported\nPrime Mover,Net Generation,YEAR
1055,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"38,097",.
1056,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,252,.
1057,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"39,340",.
1058,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"13,832",.

In [87]:
index_blank_years = operators_yoy_df[operators_yoy_df['YEAR'] == '.'].index
operators_yoy_df.drop(index_blank_years, inplace=True)

In [88]:
operators_yoy_df['YEAR'].value_counts()

2021    1276
2020    1239
2019    1157
2018    1113
2017    1056
2022     611
Name: YEAR, dtype: int64

In [89]:
operators_yoy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6452 entries, 0 to 610
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Plant Id              6452 non-null   int64
 1   Plant Name            6452 non-null   object
 2   Operator Name         6452 non-null   object
 3   Operator Id           6452 non-null   int64
 4   Reported
Prime Mover  6452 non-null   object
 5   Net Generation        6452 non-null   object
 6   YEAR                  6452 non-null   object
dtypes: int64(2), object(5)
memory usage: 403.2+ KB

In [90]:
operators_yoy_df.rename(columns={'Reported\nPrime Mover': 'Prime Mover', 'YEAR': 'Year'})

,Plant Id,Plant Name,Operator Name,Operator Id,Prime Mover,Net Generation,Year
0,90,Snake River,Nome Joint Utility Systems,13642,WT,"1,918",2017
1,508,Lamar Plant,City of Lamar - (CO),10633,WT,"10,580",2017
2,692,Medicine Bow,NJR Clean Energy Ventures Corporation,56990,WT,"18,217",2017
3,944,Geneseo,City of Geneseo - (IL),7095,WT,"6,290",2017
4,1172,Osage (IA),City of Osage - (IA),14201,WT,"3,724",2017
...,...,...,...,...,...,...,...
606,63916,Cedar Springs III,"Cedar Springs Wind III, LLC",63582,WT,"374,888",2022
607,56752,Mountain Wind Power LLC,Mountain Wind Power LLC,64651,WT,"143,604",2022
608,56753,Mountain Wind Power II LLC,Mountain Wind Power II LLC,64652,WT,"95,739",2022
609,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"157,282,904",2022
610,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,WT,"577,882,047",2022

In [92]:
operators_yoy_df.to_csv('_datasets/operators_yoy.csv',index=False)

In [105]:
operator = pd.DataFrame(operators_yoy_df['Operator Id'].unique())